<h1>Jack and Jill went up the hill to get a bucket of water...</h1>
<p>The bucket they got was:</p>
Size: <%=@bucket.size%><br/>
Weight: <%=@bucket.weight%><br/>
Full?: <%=@bucket.is_full%><br/>
<br/>
<br/>
Previously they have collected <%=@bucket_count%> buckets!